<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il vero meteo - La tua città</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/weather-icons.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-dark.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/toggle-bootstrap-print.min.css" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <script defer src ="/js/handle_city_page.js"></script>
    <script defer src ="/js/preferences.js"></script>
    <script defer src = "/js/search.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index">ilverometeo.it</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id = "your-city" aria-current="page">La tua città</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cities">Tutte le nostre città</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" class="btn btn-info" role="button" id = "turnOnOffDarkMode">Dark mode</a>
                </li>
              </div>
              </ul>
              <div class="d-flex">
                <input class="form-control me-2" type="search" id="search-city" placeholder="Cerca città" aria-label="Search">
                <button class="btn btn-outline-success" id="search-button" type="submit">Cerca</button>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container-xxl flex-grow-1 container-p-y mb-4">
        <div class="row">
          <div class="mb-2 order-0">
            <div class="card rounded-elem">
              <div class="d-flex align-items-end row">
                <div class="mb-2 col-sm-7">
                  <div class="card-body">
                    <h5 class="card-title text-primary mb-4"><span id ="city-name"> </span> (<span id = "country"> </span>) <span id = "weather-info"> </span><i class = "wi" id = "weather-icon"></i>  alle <span id ="time"> </span></h5>
                    <p class="mb-2"> Temperatura: <span id ="temp"> </span> °C
                    </p>
                    <p class="mb-2"> Temperatura percepita: <span id ="actual-temp"> </span> °C
                    </p>
                    <p class="mb-2"> Temperatura minima: <span id ="min-temp"> </span> °C
                    </p>
                    <p class="mb-2"> Temperatura massima: <span id ="max-temp"> </span> °C
                    </p>
                  </div>
                </div>
                <div class="mb-2 col-sm-5 text-center text-sm-left">
                  <div class="card-body px-0 px-md-2">
                    <img class = "rounded-elem" role="img" id = "city-img" height="180" alt="La foto della tua città">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2 order-0">
            <div class="card rounded-elem">
              <div class="d-flex align-items-end row">
                <div class="mb-2 col-sm-5">
                  <div class="card-body">
                    <p class="mb-2"> Pressione: <span id ="press"> </span> hPa
                    </p>
                    <p class="mb-2"> Umidità: <span id ="hum"> </span> %
                    </p>
                    <p class="mb-2"> Forza del vento: <span id ="wind"> </span> m/s
                    </p>
                  </div>
                </div>
                <div class="mb-2 col-sm-5 text-sm-left">
                  <div class="card-body">
                    <p class="mb-2"> Visibilità: <span id ="vis"> </span> metri
                    </p>

                    <p class="mb-2"> Alba: <span id ="sunrise"> </span>
                    </p>
                    <p class="mb-1"> Tramonto: <span id ="sunset"> </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "mb-2 order-0">
            <div class = "card rounded_elem">
              <div id="map"> </div>
          </div>
        </div>
      </div>
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2022-2022 Il vero meteo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    </main>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>