.black-shadow-text {
    text-shadow:
        -0.03em 0 black,
        0 -0.03em black,
        0.03em 0 black,
        0 0.03em black;
}

.rounded-elem {
    border-radius: 3%;
}

#map { height: 540px; }

.car-img {
    object-fit: cover;
}